.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo{
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}


.App-header {
  background-color: #1f1f1f;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb61a4;
}

.inputPesquisar{
  width: 80%;
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  background-color: #D8D8D8;
}

.ContainerHome{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
 
}

.textoDestaques{
  font-size: 14px;
  color: #BCBCBC;
  display: flex;
  
  
}

.carrosselHome{
  display: flex;
  flex-direction: row;
  
  
}

.carrosselItem{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.categoriasHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.categoriasItem{
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login */
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1F1F1F;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.inputLogin {
  width: 70%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #BCBCBC;
  margin-bottom: 20px;
  background-color: #1f1f1f; 
  color: #fff;
}

.buttonLogin {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #454545;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FF7A00;
  color: #fff; 
  cursor: pointer;
  margin: 20px;

}

a{
  color: #BCBCBC;
  
}

p {
  color: #BCBCBC;
  
}

.logoGoogle {
  margin: 20px;
}

.logoFace{
  margin: 20px;
}

/* Menu */

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 3px rgba(103, 103, 103, 0.535);
  background-color: #454545;
  overflow-x: auto;
  display: flex;
}

.linkMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-top-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.linkMenu:hover {
  background-color: #FF7A00;
}

/* favoritos  */
.favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.favoritosItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E1E1E1;
  justify-content: center;
  width: 70%;
  height: 150px;
  border-radius: 12px;
  margin: 10px;
  -webkit-top-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.favoritosItem:hover {
  background-color: #FF7A00;
}

/*  Minhas Compras */
.minhasCompras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}



/* Notification */

.notificacoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.notificacoesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4D4D4D;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 1px;
  -webkit-top-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.notificationItem:hover {
  background-color: #FF7A00;
}